WebServiceWCF/WpfApplication1/Service References/ServiceReference1/Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EDFEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="EDF" nillable="true" type="tns:ArrayOfSharePointEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDFEntity" nillable="true" type="tns:EDFEntity" />
  <xs:complexType name="ArrayOfSharePointEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SharePointEntity" nillable="true" type="tns:SharePointEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSharePointEntity" nillable="true" type="tns:ArrayOfSharePointEntity" />
  <xs:complexType name="SharePointEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="SharePoint" nillable="true" type="tns:ArrayOfWebApplicationEntity" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SharePointEntity" nillable="true" type="tns:SharePointEntity" />
  <xs:complexType name="ArrayOfWebApplicationEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebApplicationEntity" nillable="true" type="tns:WebApplicationEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebApplicationEntity" nillable="true" type="tns:ArrayOfWebApplicationEntity" />
  <xs:complexType name="WebApplicationEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebApplication" nillable="true" type="tns:ArrayOfSiteCollectionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebApplicationEntity" nillable="true" type="tns:WebApplicationEntity" />
  <xs:complexType name="ArrayOfSiteCollectionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteCollectionEntity" nillable="true" type="tns:SiteCollectionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteCollectionEntity" nillable="true" type="tns:ArrayOfSiteCollectionEntity" />
  <xs:complexType name="SiteCollectionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="SitesCollection" nillable="true" type="tns:ArrayOfSiteEntity" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteCollectionEntity" nillable="true" type="tns:SiteCollectionEntity" />
  <xs:complexType name="ArrayOfSiteEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteEntity" nillable="true" type="tns:SiteEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteEntity" nillable="true" type="tns:ArrayOfSiteEntity" />
  <xs:complexType name="SiteEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Charte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionEspace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ferme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Langue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginProprietaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modele" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NiveauAudience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomEspace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomProprietaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffreService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeAcces" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionModele" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteEntity" nillable="true" type="tns:SiteEntity" />
</xs:schema>